:root {
    --primary-color:   #ffd6e0;
    --success-color:   #b5ead7;
    --warning-color:   #ffdac1;
    --danger-color:    #ffb7b2;
    --info-color:      #c7ceea;
    --main-bg-color:   #f9f9f9;
    --panel-bg-color:  #fff1f7;
    --text-color:      #5f5f5f;
    --text-light:      #a3a3a3;
}

body {
    background: var(--main-bg-color);
    color: var(--text-color);
  }
  .button-primary {
    background: var(--primary-color);
    color: #fff;
  }
  .panel {
    background: var(--panel-bg-color);
  }