html[data-theme='light']:root {
  --theme-bg-color: var(--light-bg-color);
  --theme-panel-bg: var(--light-panel-bg);
  --theme-text-color: var(--light-text-color);
  --theme-text-light: var(--light-text-light);
  --theme-border-color: var(--light-border-color);
  --theme-link-color: var(--light-link-color);
  --theme-link-hover-color: var(--light-link-hover-color);
  --theme-accent-color: var(--light-accent-color);
  --theme-accent-hover-color: var(--light-accent-hover-color);
  --theme-shadow-color: var(--light-shadow-color);
}

html[data-theme='dark']:root {
  --theme-bg-color: var(--dark-bg-color);
  --theme-panel-bg: var(--dark-panel-bg);
  --theme-text-color: var(--dark-text-color);
  --theme-text-light: var(--dark-text-light);
  --theme-border-color: var(--dark-border-color);
  --theme-link-color: var(--dark-link-color);
  --theme-link-hover-color: var(--dark-link-hover-color);
  --theme-accent-color: var(--dark-accent-color);
  --theme-accent-hover-color: var(--dark-accent-hover-color);
  --theme-shadow-color: var(--dark-shadow-color);
}